.title {
    font-size: clamp(2rem, 4vw, 3.5rem);
    line-height: 1.1;
    background: linear-gradient(80deg, var(--mantine-color-blue-filled), var(--mantine-color-cyan-filled));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .largeCountdown {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .largeCountdown {
      transform: scale(1);
    }
  }